// bootstrap-rails
@import "bootstrap-sprockets"
@import "bootstrap"

body
  margin-top: 60px

#history-list
  .list-item
    margin-bottom: 3em
    .update-info div
      display: inline-block
    .update
      padding-left: 1em